# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# SQLite3 database files:
*.db
*.sqlite3

# Logs:
*.log

# Common
venv/
.idea/
assets/
.DS_Store
.Python
.history/
.vscode/